<h1>
    <font color = 'white'>Add Product</font>
</h1>
<form>
  <div class="form-group">
    <label for="InputName">
      <font color = 'white'>Name</font>
    </label>
    <input type="text" class="form-control" id="Name" aria-describedby="emailHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="InputCode">
        <font color = 'white'>Product Code</font>
    </label>
    <input type="text" class="form-control" id="productCode" placeholder="Code">
  </div>
  <div class="form-group">
      <label for="InputReleaseDate">
          <font color = 'white'>Release Date</font>
      </label>
      <input type="text" class="form-control" id="releaseDate" placeholder="Release">
  </div>
  <div class="form-group">
        <label for="InputPrice">
            <font color = 'white'>Product Price</font>
        </label>
        <input type="number" class="form-control" id="productPrice" placeholder="Price">
  </div>
  <div class="form-group">
      <label for="InputDescription">
        <font color = 'white'>Description</font>
      </label>
      <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
  <div class="form-group">
        <label for="InputRating">
            <font color = 'white'>Product Rating</font>
        </label>
        <input type="number" class="form-control" id="productRating" placeholder="Rating">
  </div>
  <div class="form-group">
      <label for="InputImage">
          <font color = 'white'>ImageUrl</font>
      </label>
      <input type="url" class="form-control" id="productImage" placeholder="ImageUrl">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>